      <% if user_signed_in? %> 
      <div  class="container">
        <div class="row">
          <div class="col-xs-9 col-md-9">
            <h2>必要物資一覧</h2>
          </div>
          <div class="col-xs-3 col-md-3">
            <button class="btn btn-primary" onclick="location.href='./requestitems/new'">必要物資登録</button>
          </div>
        </div>
        <div class="row">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>物資名</th>
                <th>数量</th>
                <th>必要施設</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @requestitems.each do |requestitem| %>
              <tr>
                <td><%= requestitem.name %></td>
                <td><%= requestitem.quantity %></td>
                <td><%= requestitem.place %></td>
                <td><%= link_to '修正', edit_requestitem_path(requestitem) %></td>
                <td><%= link_to '応援', edit_requestitem_path(requestitem) %></td>
              </tr>
              <% end %>
              
            </tbody>
          </table>
        </div>
      </div>
      <div  class="container">
        <div class="row">
          <div class="col-xs-8 col-md-8">
            <h2>成立物資一覧</h2>
          </div>
          <div class="col-xs-4 col-md-4">
          </div>
        </div>
        <div class="row">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>物資名</th>
                <th>数量</th>
                <th>必要施設</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
        </div>
      </div>


      <% else %>
        <div class="jumbotron">
          <h1>medicaltp.org @ livet</h1>
          <p>右上のメニューからログインしてください。</p>
        </div>
      <% end %>