      <% if user_signed_in? %> 
      <div  class="container">
        <div class="row">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="http://livetapp-livet.sqale.jp/home/index">必要物資一覧</a></li>
            <li role="presentation"><a href="http://livetapp-livet.sqale.jp/home/index2">応援物資一覧</a></li>
          </ul>
        </div>
      </div>
<div id="#page1">
      <div  class="container">
        <div class="row">
          <div class="col-xs-9 col-md-9">
            <h2>必要物資一覧</h2>
          </div>
          <div class="col-xs-3 col-md-3">
            <%= button_to '必要物資登録',{:controller =>"requestitems",:action =>"new"} ,{:class =>"btn btn-primary",:method => :get}%>
          </div>
        </div>
        <div class="row">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th><%= link_to "ID", sort: "ID" %></th>
                <th>物資名</th>
                <th>数量</th>
                <td><%= link_to "都道府県", sort: "area" %></td>
                <th><%= link_to "必要施設", sort: "place" %></th>
                <th>応援数</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @requestitems.each do |requestitem| %>
                　<!-- 支援数が要請数を下回るものは赤表示-->
                  <% if requestitem.total_quantity_requestitem != 0 && requestitem.total_quantity_requestitem < requestitem.quantity then %>
                    <tr class ="warning">
                  <% elsif requestitem.total_quantity_requestitem >= requestitem.quantity then %>
                    <tr class ="success">
                  <% else %>
                    <tr class ="danger">
                  <% end %> 
                  <td><%= requestitem.id %></td>
                  <td><%= requestitem.name %></td>
                  <td><%= requestitem.quantity - requestitem.total_quantity_requestitem %></td>
                  <td><%= requestitem.area %></td>
                  <td><%= requestitem.place %></td>
                  <td><%= requestitem.total_quantity_requestitem %></td>
                  <% if requestitem.groupid === current_user.id then %>
                    <td><%= link_to '修正', edit_requestitem_path(requestitem) %></td>
                    <td><%= link_to '応援',{:controller =>"supportitems",:action => "new",item:requestitem} %></td>
                    <td><%= link_to '削除', requestitem_path(requestitem) , :method => :delete%></td>
                  <% else %>
                    <td></td>
                    <td><%= link_to '応援',{:controller =>"supportitems",:action => "new",item:requestitem} %></td>
                    <td></td>
                  <% end %>
                  </tr>
                <% end %>              
            </tbody>
          </table>
        </div>
      </div>
</div>

      <% else %>
        <div class="jumbotron">
          <h1>medicaltp.org @ livet</h1>
          <p>右上のメニューからログインしてください。</p>
        </div>
      <% end %>