      <% if user_signed_in? %> 
      <div  class="container">
        <div class="row">
          <div class="col-xs-9 col-md-9">
            <h2>必要物資一覧</h2>
          </div>
          <div class="col-xs-3 col-md-3">
            <%= button_to '必要物資登録',{:controller =>"requestitems",:action =>"new"} ,{:class =>"btn btn-primary",:method => :get}%>
          </div>
        </div>
        <div class="row">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>物資名</th>
                <th>数量</th>
                <th>必要施設</th>
                <th>応援数</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @requestitems.each do |requestitem| %>
                　<!-- 支援数が要請数を下回るものは赤表示-->
                  <% if requestitem.total_quantity_requestitem != 0 && requestitem.total_quantity_requestitem < requestitem.quantity then %>
                    <tr class ="warning">
                  <% elsif requestitem.total_quantity_requestitem >= requestitem.quantity then %>
                    <tr class ="success">
                  <% else %>
                    <tr class ="danger">
                  <% end %> 
                  <td><%= requestitem.id %></td>
                  <td><%= requestitem.name %></td>
                  <td><%= requestitem.quantity %></td>
                  <td><%= requestitem.place %></td>
                  <td><%= requestitem.total_quantity_requestitem %></td>
                  <td><%= link_to '修正', edit_requestitem_path(requestitem) %></td>
                  <td><%= link_to '応援',{:controller =>"supportitems",:action => "new",item:requestitem} %></td>
                  <td><%= link_to '削除', requestitem_path(requestitem) , :method => :delete%></td>
                  </tr>
                <% end %>              
            </tbody>
          </table>
        </div>
      </div>
      <div  class="container">
        <div class="row">
          <div class="col-xs-8 col-md-8">
            <h2>成立物資一覧</h2>
          </div>
          <div class="col-xs-4 col-md-4">
          </div>
        </div>
        <div class="row">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>物資名</th>
                <th>数量</th>
                <th>必要施設</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @supportitems.each do |supportitem| %>
              <tr>
                <td><%= supportitem.requestitem.name %></td>
                <td><%= supportitem.quantity %>/<%= supportitem.requestitem.quantity %></td>
                <td><%= supportitem.requestitem.place %></td>
                <td><%= link_to '修正', edit_supportitem_path(supportitem) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>


      <% else %>
        <div class="jumbotron">
          <h1>medicaltp.org @ livet</h1>
          <p>右上のメニューからログインしてください。</p>
        </div>
      <% end %>