<div  class="container">
<p id="notice"><%= notice %></p>


<p>
  <strong>担当者:</strong>
  <%= @supportitem.staff %>
</p>

<p>
  <strong>連絡先:</strong>
  <%= @supportitem.mail %>
</p>

<p>
  <strong>数量:</strong>
  <%= @supportitem.quantity %>
</p>

<p>
  <strong>備考:</strong>
  <%= @supportitem.memo %>
</p>

<%= link_to '戻る', requestitems_path %>
</div>